.my-page
  .my-page__main
    .my-page__side-box
      .my-page__side-box__contents
        .my-page__side-box__contents__section
          %h2.my-page__side-box__contents__section__title マイページメニュー 
          .my-page__side-box__contents__section__list
            .my-page__side-box__contents__section__list__profile-register
              プロフィール登録
            .my-page__side-box__contents__section__list__profile-edit
              プロフィール編集
            .my-page__side-box__contents__section__list__login
              ログイン
            .my-page__side-box__contents__section__list__logout
              ログアウト
            .my-page__side-box__contents__section__list__cledit-register
              クレジットカード登録
            .my-page__side-box__contents__section__list__cledit-edit
              クレジットカード情報編集
            .my-page__side-box__contents__section__list__Exhibition
              出品した商品
            .my-page__side-box__contents__section__list__Purchase
              購入した商品
            .my-page__side-box__contents__section__list__Inquiry
              お問い合わせ
            .my-page__side-box__contents__section__list__Sales
              売上
    .my-page__main-box
      %h2.my-page__main-box__title ○○さんのマイページ
      