.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;

  &__inner {
    margin: 0 auto;
    padding: 15px 0 0;
    width: 100vw;
    min-height: 82px;

    .main_header {
      display: flex;

      .logo {}

      .search {
        width: 100%;

        .btn {
          align-items: center;
          height: 50px;
          width: 50px;
          padding: 0 20px 0;
          margin: 0 5px;
          background-color: #3ccace;
          color: white;
          box-shadow: 1px 1px 2px #999999;
          border-style: none;
          display: flex;
        }

        .search-input {
          width: 100%;
          margin-left: 10px;
        }

        .search-form {
          display: flex;
          width: 100%;
        }

        .fas.fa-search {
          color: white;
          font-size: 17px;
          display: flex;
        }
      }
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    font-size: 20px;
    margin-bottom: 10px;

    .category {
      padding: 0 20px;
      position: relative;
      display: flex;

      .sign_in {
        height: 30px;
        padding: 0 20px;
        margin-left: auto;
        display: flex;
      }
    }
  }
}