.my-page{
  background-color:#f5f5f5;;
  display: flex;
  justify-content: center;
  align-items: center;
  &__main{
    height: 100vh;
    width: 1000px;
    background-color:#f5f5f5;;
    display: flex;
    &__side-box{
      width: 280px;
      background-color:#f5f5f5;
      &__contents{
        line-height: 1.5;
        padding-top: 20px;
        &__section{
          &__title{
            font-size: 20px; 
            font-weight: bold;
            padding-bottom: 10px;
          }
          &__list{
            background-color: #fff;
            &__profile-register{
              border: 1px solid #e5e5e5;
              padding: 9px 16px;
            }
            &__profile-edit{
              border: 1px solid #e5e5e5;
              padding: 9px 16px;
            }
            &__login{
              border: 1px solid #e5e5e5;
              padding: 9px 16px;
              text-decoration: none;
            }
            &__logout{
              border: 1px solid #e5e5e5;
              padding: 9px 16px;
            }              
            &__cledit-register{
              border: 1px solid #e5e5e5;
              padding: 9px 16px;
            }
            &__cledit-edit{
              border: 1px solid #e5e5e5;
              padding: 9px 16px;
            }
            &__Exhibition{
              border: 1px solid #e5e5e5;
              padding: 9px 16px;
            }
            &__Purchase{
              border: 1px solid #e5e5e5;
              padding: 9px 16px;
            }
            &__Inquiry{
              border: 1px solid #e5e5e5;
              padding: 9px 16px;
            }
            &__Sales{
              border: 1px solid #e5e5e5;
              padding: 9px 16px;
            }
          }
        }
      }
    }
  }
}