// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  .logo {
  }
  .search {
    width: 100%;
  }
}
.btn {
  align-items: center;
  height: 50px;
  width: 50px;
  padding: 0 20px 0;
  margin: 0 5px;
  background-color: #38aef0;
  color: white;
  box-shadow: 1px 1px 2px #999999;
  border-style: none;
  display: flex;
}
.search-input {
  width: 100%;
  margin-left: 10px;
}
.search-form{
  display: flex;
  width: 100%;
}
.fas.fa-search {
  color: white;
  font-size: 17px;
  display: flex;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  font-size: 20px;
  margin-bottom: 10px;
  .category {
    padding: 0 20px;
    .sign_in {
    height: 30px;
    width: 100%;
    padding: 0 20px;
    }
  }
}

.main{
  box-sizing: border-box;
  display: block;
  .main_visual{
    background-image: url("bg-mainVisual-pict_pc.png");
    width: 100vw;
    height: 560px;
    position: relative;
    padding: 0 60px;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x:center;
    .content{
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      .content_subtitle{
        font-size: 60px;
        color: #fff;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        line-height: 1.2;
      }
      .content_text{
      }
    }
  }
}

