// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contena{
  display: flex;
  .logo
  .btn {
    align-items: center;
    height: 50px;
    width: 100px;
    margin-left: 15px;
    padding: 0 20px 0;
    background-color: #38aef0;
    color: white;
    box-shadow: 1px 1px 2px #999999;
    border-style: none;
    display: flex;
  }
  .serch-form{
    display: flex;
    .fas.fa-serch {
      color: white;
      font-size: 17px;
      display: flex;
    }
    .serch {
      font-size: 16px;
      margin-left: 5px;
    }
  }
}
  