.user_new_footer
  .info_box
    .privacy プライバシーポリシー
    .terns 利用規約
    .specific 特定商取引に関する表記
  .footer_logo_box
    .footer_center
      .gray
        =link_to root_path do
          = image_tag "logo-white.png", size: "185x49", alt: "フリマのアイコン"