.content
  %p
    = product.name
  -# %p
  -#   = product.price

  -# - product.images.each do |image|
  -#   = image_tag image.name.url
  -#   -# 親モデルと子モデルの関係性として、子モデルには複数形での記述なる。保存先のカラム名を間違えないように記述する。.urlとして記述する理由は分からないが、テーブルに保存する際に、URLで保存されるからか？
  -# = link_to '詳細', "/products/#{product.id}", method: :get


  -# -if product.buyer_id.present? 
  -#   SOLD