.main{
  background: #f8f8f8;
  margin: 20px 0;
  &__content{
    width: 700px;
    margin: 0 auto;
    &__top-content{
      &__itembox{
        background-color: #fff;
        padding: 24px 40px 40px;

        &__name{
          text-align: center;
        &__body{
          margin: 16px 0 0;
          
        
        }
        &__price{
          display: flex;
          margin: 24px 0 24px;
          text-align: center;
          flex-direction: column;
        }
      }
    }
  }
}
}
.table{
  border: solid 1px #dcdcdc;
  font-size: 14px;
  .subcontent{
    box-sizing: border-box;
    padding: 10px;
    display: table-cell;
  }
  .category{
    margin-bottom: 20px;
    height: 40px;
    width: 150px;
    text-align: center;
    background-color: #eee;
  }
}