.appfooter
  %ul.contents
    %li.content
      .content__head
        %h2 FURIMAについて
      %Ul.content__text
        %li 会社概要(運営会社)
        %li プライバシーポリシー
        %li FURIMA利用規約
        %li ポイントに関する特約
    %li.content
      .content__head
        %h2 FURIMAを見る
      %Ul.content__text
        %li カテゴリー一覧
        %li ブランド一覧
    %li.content
      .content__head
        %h2 ヘルプ＆ガイド
      %Ul.content__text
        %li FURIMAガイド
        %li FURIMAロゴ利用ガイドライン
        %li お知らせ
  .footer__logo
    = image_tag "logo-white.png", size: "185x49", alt: "フリマのアイコン"
    %p © FURIMA